@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,600');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

* {
  box-sizing: border-box; }

html, body, .root {
  margin: 0; 
  max-width: 100% !important;
  max-height: 100% !important;
  overflow-x: hidden;
}

html {
  font-family: 'Fira Sans', sans-serif;
  color: #494c4e;
  font-size: 18px;
  font-weight: 300; 
}

body {
  font-family: 'Fira Sans', sans-serif;
  border: 8px solid #494c4e;
  padding: 30px 0;
  min-height: 100vh; 
}

@media screen and (min-width: 950px) {
  body {
    padding: 40px 0 0; 
  } 
}

h1, footer {
  text-align: center; }

h1 {
  font-size: 26px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 32px; 
  } 
}

h3 {
  font-size: 20px; 
}

h4 {
  font-size: 12.6px; 
}

header {
  margin: 0 auto;
  width: 95%;
}

@media screen and (min-width: 960px) {
  header {
    max-width: 1200px;
    padding: 0 20px;
  }
}

h3 {
  letter-spacing: 1px; 
}

h4 {
  text-transform: uppercase;
  color: #1ad1ff; 
}

.banner {
  padding: 2em 0;
  border: 2px solid rgba(155, 155, 155, 0.2);
  border-right: 0;
  border-left: 0; 
}

.btn {
  background: #fff;
  box-shadow: none;
  font-family: inherit;
  font-size: 18px;
  padding: 15px;
  border: 2px solid #1ad1ff;
  border-radius: 4px;
  display: block;
  font-style: italic;
  margin: 0 auto;
  transition: 0.2s ease-in-out; 
}

.btn:hover {
  cursor: pointer;
  color: #1ad1ff;
  padding: 15px 20px; 
}

.btn.btn--contact-form {
  padding: 15px 60px; 
}

.btn.btn--contact-form:hover {
  background: #1ad1ff;
  color: white; 
}

a.btn-default {
  max-width: 160px;
}
